body{
    color: rgb(255, 0, 0);
    background: rgb(206, 155, 212);
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects,#resultobjectname,#resultobjectaccuracy{
    color: rgb(47, 0, 255);
}
#camera{
    border: 2px dashed rgb(226, 43, 180);
    width: 350px;
    height: 300px;
}